<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.intshop.mapper.DrtShopCartMapper">
	<resultMap id="BaseResultMap" type="com.csg.intshop.entity.DrtShopCart">
		<id column="id" property="id"></id>
		<result column="account_id" property="accountId" />
		<result column="item_id" property="itemId" />
		<result column="item_num" property="itemNum" />
		<result column="creator_id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="create_time" property="createTime" />
		<result column="modify_id" property="modifyId" />
		<result column="modify_name" property="modifyName" />
		<result column="modify_time" property="modifyTime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="BaseColumnList">
		id as id,
		account_id as accountId,
		item_id as itemId,
		item_num as itemNum,
		creator_id as creatorId,
		creator_name as creatorName,
		create_time as createTime,
		modify_id as modifyId,
		modify_name as modifyName,
		modify_time as modifyTime,
		remark as remark
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="accountId != null">
			and account_id=#{accountId}
		</if>
		<if test="itemId != null">
			and item_id=#{itemId}
		</if>
		<if test="itemNum != null">
			and item_num=#{itemNum}
		</if>
		<if test="creatorId != null">
			and creator_id=#{creatorId}
		</if>
		<if test="creatorName != null">
			and creator_name=#{creatorName}
		</if>
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>
		<if test="modifyId != null">
			and modify_id=#{modifyId}
		</if>
		<if test="modifyName != null">
			and modify_name=#{modifyName}
		</if>
		<if test="modifyTime != null">
			and modify_time=#{modifyTime}
		</if>
		<if test="remark != null">
			and remark=#{remark}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.intshop.entity.DrtShopCart" >
    	insert into drt_shop_cart
    		(id, account_id, item_id, item_num, creator_id, creator_name, create_time, modify_id, modify_name, modify_time, remark) 
    	values
    		(#{id}, #{accountId}, #{itemId}, #{itemNum}, #{creatorId}, #{creatorName}, #{createTime}, #{modifyId}, #{modifyName}, #{modifyTime}, #{remark})
  	</insert>

  	<update id="update" parameterType="com.csg.intshop.entity.DrtShopCart">
		update drt_shop_cart set
		account_id=#{accountId}, item_id=#{itemId}, item_num=#{itemNum}, creator_id=#{creatorId}, creator_name=#{creatorName}, create_time=#{createTime}, modify_id=#{modifyId}, modify_name=#{modifyName}, modify_time=#{modifyTime}, remark=#{remark}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_shop_cart
	    where 
			id = #{id}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.intshop.entity.DrtShopCart">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_shop_cart
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>

     <!-- 查询用户购物车商品 -->
     <select id="selectShopCars" resultType="com.csg.intshop.entity.DrtShopItem" parameterType="java.lang.String">
	    select * from  drt_shop_item i 
	       where  1=1
	       and  i.id in
	       (select a.item_id from drt_shop_cart a where a.account_id=#{_paramter})
      </select>
	
	<!-- 删除购物车商品 -->
	 <delete id="delDrtShop" parameterType="java.util.Map">
        delete  from drt_shop_cart where 1=1
         <if test="accountId !=null and accountId !=''">
         	and account_id=#{accountId}
         </if>
         <if test="ids!=null">
         	and item_id in
	         <foreach item="item" collection="ids" index="index" open="(" separator="," close=")" >  
		        #{item}
		    </foreach>
         </if>
        
     </delete>
	
</mapper>