<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtFinPoEarningsRecordMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtFinPoEarningsRecord">
		<id column="PO_EARNINGS_RECORD_ID" property="poEarningsRecordId"></id>
		<result column="PO_ACCOUNT_ID" property="poAccountId" />
		<result column="EARNINGS" property="earnings" />
		<result column="TIME" property="time" />
		<result column="TYPE" property="type" />
		<result column="ACCOUNT_ID" property="accountId" />
		<result column="ELEC_USER_ID" property="elecUserId" />
		<result column="FROM_TYPE" property="fromType" />
	</resultMap>
	
	<sql id="BaseColumnList">
		PO_EARNINGS_RECORD_ID as poEarningsRecordId,
		PO_ACCOUNT_ID as poAccountId,
		EARNINGS as earnings,
		TIME as time,
		TYPE as type,
		ACCOUNT_ID as accountId,
		ELEC_USER_ID as elecUserId,
		FROM_TYPE as fromType
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="poEarningsRecordId != null">
			and PO_EARNINGS_RECORD_ID=#{poEarningsRecordId}
		</if>
		<if test="poAccountId != null">
			and PO_ACCOUNT_ID=#{poAccountId}
		</if>
		<if test="earnings != null">
			and EARNINGS=#{earnings}
		</if>
		<if test="time != null">
			and TIME=#{time}
		</if>
		<if test="type != null">
			and TYPE=#{type}
		</if>
		<if test="accountId != null">
			and ACCOUNT_ID=#{accountId}
		</if>
		<if test="elecUserId != null">
			and ELEC_USER_ID=#{elecUserId}
		</if>
		<if test="fromType != null">
			and FROM_TYPE=#{fromType}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtFinPoEarningsRecord" >
    	insert into drt_fin_po_earnings_record
    		(PO_EARNINGS_RECORD_ID, PO_ACCOUNT_ID, EARNINGS, TIME, TYPE, ACCOUNT_ID, ELEC_USER_ID, FROM_TYPE) 
    	values
    		(#{poEarningsRecordId}, #{poAccountId}, #{earnings}, #{time}, #{type}, #{accountId}, #{elecUserId}, #{fromType})
  	</insert>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtFinPoEarningsRecord">
		update drt_fin_po_earnings_record set
		PO_ACCOUNT_ID=#{poAccountId}, EARNINGS=#{earnings}, TIME=#{time}, TYPE=#{type}, ACCOUNT_ID=#{accountId}, ELEC_USER_ID=#{elecUserId}, FROM_TYPE=#{fromType}
		where PO_EARNINGS_RECORD_ID = #{poEarningsRecordId}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_fin_po_earnings_record
	    where 
			PO_EARNINGS_RECORD_ID = #{poEarningsRecordId}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtFinPoEarningsRecord">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_fin_po_earnings_record
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>


	
</mapper>