<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtNewsMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtNews">
		<id column="TID" property="tid"></id>
		<result column="ACCOUNT_ID" property="accountId" />
		<result column="NEW_TYPE" property="newType" />
		<result column="THEME" property="theme" />
		<result column="CONTENT" property="content" />
		<result column="KEYWORD" property="keyword" />
		<result column="CREAT_TIME" property="creatTime" />
		<result column="STATE" property="state" />
		<result column="CHANGE_TIME" property="changeTime" />
	</resultMap>
	
	<sql id="BaseColumnList">
		TID as tid,
		ACCOUNT_ID as accountId,
		NEW_TYPE as newType,
		THEME as theme,
		CONTENT as content,
		KEYWORD as keyword,
		CREAT_TIME as creatTime,
		STATE as state,
		CHANGE_TIME as changeTime
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="tid != null">
			and TID=#{tid}
		</if>
		<if test="accountId != null">
			and ACCOUNT_ID=#{accountId}
		</if>
		<if test="newType != null">
			and NEW_TYPE=#{newType}
		</if>
		<if test="theme != null">
			and THEME=#{theme}
		</if>
		<if test="content != null">
			and CONTENT=#{content}
		</if>
		<if test="keyword != null">
			and KEYWORD=#{keyword}
		</if>
		<if test="creatTime != null">
			and CREAT_TIME=#{creatTime}
		</if>
		<if test="state != null">
			and STATE=#{state}
		</if>
		<if test="changeTime != null">
			and CHANGE_TIME=#{changeTime}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtNews" >
    	insert into drt_news
    		(TID, ACCOUNT_ID, NEW_TYPE, THEME, CONTENT, KEYWORD, CREAT_TIME, STATE, CHANGE_TIME) 
    	values
    		(#{tid}, #{accountId}, #{newType}, #{theme}, #{content}, #{keyword}, #{creatTime}, #{state}, #{changeTime})
  	</insert>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtNews">
		update drt_news set
		ACCOUNT_ID=#{accountId}, NEW_TYPE=#{newType}, THEME=#{theme}, CONTENT=#{content}, KEYWORD=#{keyword}, CREAT_TIME=#{creatTime}, STATE=#{state}, CHANGE_TIME=#{changeTime}
		where TID = #{tid}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_news
	    where 
			TID = #{tid}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtNews">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_news
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>
  	
  	<insert id="insertDrtNews" parameterType="java.util.List">    
	    insert into drt_news  (TID, ACCOUNT_ID, NEW_TYPE, THEME, CONTENT, KEYWORD, CREAT_TIME, STATE, CHANGE_TIME)   
	    values  
	    <foreach collection="list" item="item" index="index" separator="," >  
			(#{item.tid}, #{item.accountId}, #{item.newType}, #{item.theme}, #{item.content}, #{item.keyword}, #{item.creatTime}, #{item.state}, #{item.changeTime})		
		</foreach>  
	</insert>
	
	<!-- 删除最近一周的前站内消息记录 -->
	<delete id="deleteWeekNews" >
		delete FROM drt_news 
		where 1=1 and NEW_TYPE=3 and
		DATE_SUB(DATE(CURRENT_TIMESTAMP()), INTERVAL 7 DAY) > DATE(CREAT_TIME)
	</delete>

</mapper>