<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtMonitorBehaviorDurationMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtMonitorBehaviorDuration">
		<id column="id" property="id"></id>
		<result column="account_id" property="accountId" />
		<result column="behavior_section" property="behaviorSection" />
		<result column="duration_section" property="durationSection" />
		<result column="creator_id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="create_time" property="createTime" />
		<result column="last_modifier_id" property="lastModifierId" />
		<result column="last_modifier_name" property="lastModifierName" />
		<result column="last_modify_time" property="lastModifyTime" />
		<result column="is_delete" property="isDelete" />
	</resultMap>
	
	<sql id="BaseColumnList">
		id as id,
		account_id as accountId,
		behavior_section as behaviorSection,
		duration_section as durationSection,
		creator_id as creatorId,
		creator_name as creatorName,
		create_time as createTime,
		last_modifier_id as lastModifierId,
		last_modifier_name as lastModifierName,
		last_modify_time as lastModifyTime,
		is_delete as isDelete
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="accountId != null">
			and account_id=#{accountId}
		</if>
		<if test="behaviorSection != null">
			and behavior_section=#{behaviorSection}
		</if>
		<if test="durationSection != null">
			and duration_section=#{durationSection}
		</if>
		<if test="creatorId != null">
			and creator_id=#{creatorId}
		</if>
		<if test="creatorName != null">
			and creator_name=#{creatorName}
		</if>
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>
		<if test="lastModifierId != null">
			and last_modifier_id=#{lastModifierId}
		</if>
		<if test="lastModifierName != null">
			and last_modifier_name=#{lastModifierName}
		</if>
		<if test="lastModifyTime != null">
			and last_modify_time=#{lastModifyTime}
		</if>
		<if test="isDelete != null">
			and is_delete=#{isDelete}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtMonitorBehaviorDuration" >
    	insert into drt_monitor_behavior_duration
    		(id, account_id, behavior_section, duration_section, creator_id, creator_name, create_time, last_modifier_id, last_modifier_name, last_modify_time, is_delete) 
    	values
    		(#{id}, #{accountId}, #{behaviorSection}, #{durationSection}, #{creatorId}, #{creatorName}, #{createTime}, #{lastModifierId}, #{lastModifierName}, #{lastModifyTime}, #{isDelete})
  	</insert>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtMonitorBehaviorDuration">
		update drt_monitor_behavior_duration set
		account_id=#{accountId}, behavior_section=#{behaviorSection}, duration_section=#{durationSection}, creator_id=#{creatorId}, creator_name=#{creatorName}, create_time=#{createTime}, last_modifier_id=#{lastModifierId}, last_modifier_name=#{lastModifierName}, last_modify_time=#{lastModifyTime}, is_delete=#{isDelete}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_behavior_duration
	    where 
			id = #{id}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtMonitorBehaviorDuration">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_behavior_duration
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>

	<insert id="insertMonitorBehaviorDurations" parameterType="java.util.List">    
	    insert into drt_monitor_behavior_duration  (id, account_id, behavior_section, duration_section, creator_id, creator_name, create_time, last_modifier_id, last_modifier_name, last_modify_time, is_delete)   
	    values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.id},#{item.accountId},#{item.behaviorSection},#{item.durationSection},#{item.creatorId},#{item.creatorName},#{item.createTime},#{item.lastModifierId}, #{item.lastModifierName}, #{item.lastModifyTime}, '1')  
	    </foreach>  
	</insert>
	
</mapper>