<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtMonitorVisitorRecordMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtMonitorVisitorRecord">
		<id column="id" property="id"></id>
		<result column="present_date" property="presentDate" />
		<result column="palm_hall_count" property="palmHallCount" />
		<result column="net_hall_count" property="netHallCount" />
		<result column="we_chat_count" property="weChatCount" />
		<result column="other_count" property="otherCount" />
		<result column="province_list_json" property="provinceListJson" />
		<result column="city_list_json" property="cityListJson" />
	</resultMap>
	
	<sql id="BaseColumnList">
		id as id,
		present_date as presentDate,
		palm_hall_count as palmHallCount,
		net_hall_count as netHallCount,
		we_chat_count as weChatCount,
		other_count as otherCount,
		province_list_json as provinceListJson,
		city_list_json as cityListJson
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="presentDate != null">
			and present_date=#{presentDate}
		</if>
		<if test="palmHallCount != null">
			and palm_hall_count=#{palmHallCount}
		</if>
		<if test="netHallCount != null">
			and net_hall_count=#{netHallCount}
		</if>
		<if test="weChatCount != null">
			and we_chat_count=#{weChatCount}
		</if>
		<if test="otherCount != null">
			and other_count=#{otherCount}
		</if>
		<if test="provinceListJson != null">
			and province_list_json=#{provinceListJson}
		</if>
		<if test="cityListJson != null">
			and city_list_json=#{cityListJson}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtMonitorVisitorRecord" >
    	insert into drt_monitor_visitor_record
    		(id, present_date, palm_hall_count, net_hall_count, we_chat_count, other_count, province_list_json, city_list_json) 
    	values
    		(#{id}, #{presentDate}, #{palmHallCount}, #{netHallCount}, #{weChatCount}, #{otherCount}, #{provinceListJson}, #{cityListJson})
  	</insert>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtMonitorVisitorRecord">
		update drt_monitor_visitor_record set
		present_date=#{presentDate}, palm_hall_count=#{palmHallCount}, net_hall_count=#{netHallCount}, we_chat_count=#{weChatCount}, other_count=#{otherCount}, province_list_json=#{provinceListJson}, city_list_json=#{cityListJson}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_visitor_record
	    where 
			id = #{id}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtMonitorVisitorRecord">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_visitor_record
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>


	
</mapper>