<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtMonitorRetentionRecordMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtMonitorRetentionRecord">
		<id column="id" property="id"></id>
		<result column="present_date" property="presentDate" />
		<result column="login_count" property="loginCount" />
		<result column="register_count" property="registerCount" />
		<result column="elec_number_count" property="elecNumberCount" />
		<result column="bank_card_count" property="bankCardCount" />
		<result column="po_money_count" property="poMoneyCount" />
		<result column="pv_count" property="pvCount" />
		<result column="uv_count" property="uvCount" />
		<result column="retained_count_1" property="retainedCount1" />
		<result column="retained_count_3" property="retainedCount3" />
		<result column="retained_count_7" property="retainedCount7" />
		<result column="retained_count_30" property="retainedCount30" />
	</resultMap>
	
	<sql id="BaseColumnList">
		id as id,
		present_date as presentDate,
		login_count as loginCount,
		register_count as registerCount,
		elec_number_count as elecNumberCount,
		bank_card_count as bankCardCount,
		po_money_count as poMoneyCount,
		pv_count as pvCount,
		uv_count as uvCount,
		retained_count_1 as retainedCount1,
		retained_count_3 as retainedCount3,
		retained_count_7 as retainedCount7,
		retained_count_30 as retainedCount30
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="presentDate != null">
			and present_date=#{presentDate}
		</if>
		<if test="loginCount != null">
			and login_count=#{loginCount}
		</if>
		<if test="registerCount != null">
			and register_count=#{registerCount}
		</if>
		<if test="elecNumberCount != null">
			and elec_number_count=#{elecNumberCount}
		</if>
		<if test="bankCardCount != null">
			and bank_card_count=#{bankCardCount}
		</if>
		<if test="poMoneyCount != null">
			and po_money_count=#{poMoneyCount}
		</if>
		<if test="pvCount != null">
			and pv_count=#{pvCount}
		</if>
		<if test="uvCount != null">
			and uv_count=#{uvCount}
		</if>
		<if test="retainedCount1 != null">
			and retained_count_1=#{retainedCount1}
		</if>
		<if test="retainedCount3 != null">
			and retained_count_3=#{retainedCount3}
		</if>
		<if test="retainedCount7 != null">
			and retained_count_7=#{retainedCount7}
		</if>
		<if test="retainedCount30 != null">
			and retained_count_30=#{retainedCount30}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtMonitorRetentionRecord" >
    	insert into drt_monitor_retention_record
    		(id, present_date, login_count, register_count, elec_number_count, bank_card_count, po_money_count, pv_count, uv_count, retained_count_1, retained_count_3, retained_count_7, retained_count_30) 
    	values
    		(#{id}, #{presentDate}, #{loginCount}, #{registerCount}, #{elecNumberCount}, #{bankCardCount}, #{poMoneyCount}, #{pvCount}, #{uvCount}, #{retainedCount1}, #{retainedCount3}, #{retainedCount7}, #{retainedCount30})
  	</insert>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtMonitorRetentionRecord">
		update drt_monitor_retention_record set
		present_date=#{presentDate}, login_count=#{loginCount}, register_count=#{registerCount}, elec_number_count=#{elecNumberCount}, bank_card_count=#{bankCardCount}, po_money_count=#{poMoneyCount}, pv_count=#{pvCount}, uv_count=#{uvCount}, retained_count_1=#{retainedCount1}, retained_count_3=#{retainedCount3}, retained_count_7=#{retainedCount7}, retained_count_30=#{retainedCount30}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_retention_record
	    where 
			id = #{id}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtMonitorRetentionRecord">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_retention_record
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>


	
</mapper>