<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.intshop.mapper.DrtShopOrderMapper">
	<resultMap id="BaseResultMap" type="com.csg.intshop.entity.DrtShopOrder">
		<id column="id" property="id"></id>
		<result column="account_id" property="accountId" />
		<result column="order_earnings" property="orderEarnings" />
		<result column="order_no" property="orderNo" />
		<result column="order_state" property="orderState" />
		<result column="creator_id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="create_time" property="createTime" />
		<result column="modify_id" property="modifyId" />
		<result column="modify_name" property="modifyName" />
		<result column="modify_time" property="modifyTime" />
		<result column="address" property="address" />
		<result column="account_name" property="accountName" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="BaseColumnList">
		id as id,
		account_id as accountId,
		order_earnings as orderEarnings,
		order_no as orderNo,
		order_state as orderState,
		creator_id as creatorId,
		creator_name as creatorName,
		create_time as createTime,
		modify_id as modifyId,
		modify_name as modifyName,
		modify_time as modifyTime,
		address as address,
		account_name as accountName,
		remark as remark
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="accountId != null">
			and account_id=#{accountId}
		</if>
		<if test="orderEarnings != null">
			and order_earnings=#{orderEarnings}
		</if>
		<if test="orderNo != null">
			and order_no=#{orderNo}
		</if>
		<if test="orderState != null and orderState!=0">
			and order_state=#{orderState}
		</if>
		<if test="creatorId != null">
			and creator_id=#{creatorId}
		</if>
		<if test="creatorName != null">
			and creator_name=#{creatorName}
		</if>
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>
		<if test="modifyId != null">
			and modify_id=#{modifyId}
		</if>
		<if test="modifyName != null">
			and modify_name=#{modifyName}
		</if>
		<if test="modifyTime != null">
			and modify_time=#{modifyTime}
		</if>
		<if test="address != null">
			and address=#{address}
		</if>
		<if test="accountName != null">
			and account_name=#{accountName}
		</if>
		<if test="remark != null">
			and remark=#{remark}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.intshop.entity.DrtShopOrder" >
    	insert into drt_shop_order
    		(id, account_id, order_earnings, order_no, order_state, creator_id, creator_name, create_time, modify_id, modify_name, modify_time, address, account_name, remark) 
    	values
    		(#{id}, #{accountId}, #{orderEarnings}, #{orderNo}, #{orderState}, #{creatorId}, #{creatorName}, #{createTime}, #{modifyId}, #{modifyName}, #{modifyTime}, #{address}, #{accountName}, #{remark})
  	</insert>

  	<update id="update" parameterType="com.csg.intshop.entity.DrtShopOrder">
		update drt_shop_order set
		account_id=#{accountId}, order_earnings=#{orderEarnings}, order_no=#{orderNo}, order_state=#{orderState}, creator_id=#{creatorId}, creator_name=#{creatorName}, create_time=#{createTime}, modify_id=#{modifyId}, modify_name=#{modifyName}, modify_time=#{modifyTime}, address=#{address}, account_name=#{accountName}, remark=#{remark}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_shop_order
	    where 
			id = #{id} 
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.intshop.entity.DrtShopOrder">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_shop_order
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>
</mapper>