<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtFinPoAccountRecordMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtFinPoAccountRecord">
		<id column="PO_ACCOUNT_RECORD_ID" property="poAccountRecordId"></id>
		<result column="PO_ACCOUNT_ID" property="poAccountId" />
		<result column="PO_DEAL_MONEY" property="poDealMoney" />
		<result column="DEAL_TIME" property="dealTime" />
		<result column="ACCOUNT_ID" property="accountId" />
		<result column="IS_IN_OUT" property="isInOut" />
		<result column="ELEC_USER_ID" property="elecUserId" />
		<result column="BANK_ID" property="bankId" />
		<result column="TYPE_NAME" property="typeName" />
		<result column="RESULT" property="result" />
		<result column="ORDER_CODE" property="orderCode" />
		<result column="DQYE" property="dqye" />
		<result column="AUDIT_STATE" property="auditState" />
		<result column="IS_COMPUTED" property="isComputed" />
		<result column="COMPUTING_TIME" property="computingTime" />
	</resultMap>
	
	<sql id="BaseColumnList">
		PO_ACCOUNT_RECORD_ID as poAccountRecordId,
		PO_ACCOUNT_ID as poAccountId,
		PO_DEAL_MONEY as poDealMoney,
		DEAL_TIME as dealTime,
		ACCOUNT_ID as accountId,
		IS_IN_OUT as isInOut,
		ELEC_USER_ID as elecUserId,
		BANK_ID as bankId,
		TYPE_NAME as typeName,
		RESULT as result,
		ORDER_CODE as orderCode,
		DQYE as dqye,
		AUDIT_STATE as auditState,
		IS_COMPUTED as isComputed,
		COMPUTING_TIME as computingTime
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="poAccountRecordId != null">
			and PO_ACCOUNT_RECORD_ID=#{poAccountRecordId}
		</if>
		<if test="poAccountId != null">
			and PO_ACCOUNT_ID=#{poAccountId}
		</if>
		<if test="poDealMoney != null">
			and PO_DEAL_MONEY=#{poDealMoney}
		</if>
		<if test="dealTime != null">
			and DEAL_TIME=#{dealTime}
		</if>
		<if test="accountId != null">
			and ACCOUNT_ID=#{accountId}
		</if>
		<if test="isInOut != null">
			and IS_IN_OUT=#{isInOut}
		</if>
		<if test="elecUserId != null">
			and ELEC_USER_ID=#{elecUserId}
		</if>
		<if test="bankId != null">
			and BANK_ID=#{bankId}
		</if>
		<if test="typeName != null">
			and TYPE_NAME=#{typeName}
		</if>
		<if test="result != null">
			and RESULT=#{result}
		</if>
		<if test="orderCode != null">
			and ORDER_CODE=#{orderCode}
		</if>
		<if test="dqye != null">
			and DQYE=#{dqye}
		</if>
		<if test="auditState != null">
			and AUDIT_STATE=#{auditState}
		</if>
		<if test="isComputed != null">
			and IS_COMPUTED=#{isComputed}
		</if>
		<if test="computingTime != null">
			and COMPUTING_TIME=#{computingTime}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtFinPoAccountRecord" >
    	insert into drt_fin_po_account_record
    		(PO_ACCOUNT_RECORD_ID, PO_ACCOUNT_ID, PO_DEAL_MONEY, DEAL_TIME, ACCOUNT_ID, IS_IN_OUT, ELEC_USER_ID, BANK_ID, TYPE_NAME, RESULT, ORDER_CODE, DQYE, AUDIT_STATE, IS_COMPUTED, COMPUTING_TIME) 
    	values
    		(#{poAccountRecordId}, #{poAccountId}, #{poDealMoney}, #{dealTime}, #{accountId}, #{isInOut}, #{elecUserId}, #{bankId}, #{typeName}, #{result}, #{orderCode}, #{dqye}, #{auditState}, #{isComputed}, #{computingTime})
  	</insert>

  	<delete id="delete" parameterType="java.lang.String">
        delete from drt_fin_po_account_record where 
			PO_ACCOUNT_RECORD_ID = #{poAccountRecordId}
    </delete>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtFinPoAccountRecord">
		update drt_fin_po_account_record set
		PO_ACCOUNT_ID=#{poAccountId}, PO_DEAL_MONEY=#{poDealMoney}, DEAL_TIME=#{dealTime}, ACCOUNT_ID=#{accountId}, IS_IN_OUT=#{isInOut}, ELEC_USER_ID=#{elecUserId}, BANK_ID=#{bankId}, TYPE_NAME=#{typeName}, RESULT=#{result}, ORDER_CODE=#{orderCode}, DQYE=#{dqye}, AUDIT_STATE=#{auditState}, IS_COMPUTED=#{isComputed}, COMPUTING_TIME=#{computingTime}
		where PO_ACCOUNT_RECORD_ID = #{poAccountRecordId}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_fin_po_account_record
	    where 
			PO_ACCOUNT_RECORD_ID = #{poAccountRecordId}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtFinPoAccountRecord">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_fin_po_account_record
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>
  	
	<select id="selectListYesterday" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtFinPoAccountRecordForQuery">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_fin_po_account_record
	    where 1=1
	    <if test="dealTimeEnd != null">
			<![CDATA[
			and deal_time< #{dealTimeEnd}
			]]>
		</if>
	    <if test="dealTimeStart != null">
			<![CDATA[
		    and #{dealTimeStart} <=deal_time 
			]]>
		</if>
	    <include refid="BaseCustomQueryCondition" />
  	</select>
</mapper>