<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.intshop.mapper.DrtMallApplicationMapper">
	<resultMap id="BaseResultMap" type="com.csg.intshop.entity.DrtMallApplication">
		<id column="id" property="id"></id>
		<result column="application_name" property="applicationName" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="origina_token" property="originaToken" />
		<result column="token" property="token" />
		<result column="expire" property="expire" />
		<result column="curr_time" property="currTime" />
		<result column="invalid_time" property="invalidTime" />
		<result column="create_time" property="createTime" />
		<result column="creator_name" property="creatorName" />
		<result column="creator_id" property="creatorId" />
		<result column="last_modifier_id" property="lastModifierId" />
		<result column="last_modifier_name" property="lastModifierName" />
		<result column="last_modifier_time" property="lastModifierTime" />
		<result column="is_delete" property="isDelete" />
	</resultMap>
	
	<sql id="BaseColumnList">
		id as id,
		application_name as applicationName,
		username as username,
		password as password,
		origina_token as originaToken,
		token as token,
		expire as expire,
		curr_time as currTime,
		invalid_time as invalidTime,
		create_time as createTime,
		creator_name as creatorName,
		creator_id as creatorId,
		last_modifier_id as lastModifierId,
		last_modifier_name as lastModifierName,
		last_modifier_time as lastModifierTime,
		is_delete as isDelete
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="id != null">
			and id=#{id}
		</if>	
		<if test="applicationName != null">
			and application_name=#{applicationName}
		</if>	
		<if test="username != null">
			and username=#{username}
		</if>	
		<if test="password != null">
			and password=#{password}
		</if>	
		<if test="originaToken != null">
			and origina_token=#{originaToken}
		</if>	
		<if test="token != null">
			and token=#{token}
		</if>	
		<if test="expire != null">
			and expire=#{expire}
		</if>	
		<if test="currTime != null">
			and curr_time=#{currTime}
		</if>	
		<if test="invalidTime != null">
			and invalid_time=#{invalidTime}
		</if>	
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>	
		<if test="creatorName != null">
			and creator_name=#{creatorName}
		</if>	
		<if test="creatorId != null">
			and creator_id=#{creatorId}
		</if>	
		<if test="lastModifierId != null">
			and last_modifier_id=#{lastModifierId}
		</if>	
		<if test="lastModifierName != null">
			and last_modifier_name=#{lastModifierName}
		</if>	
		<if test="lastModifierTime != null">
			and last_modifier_time=#{lastModifierTime}
		</if>	
		and is_delete=1
	</sql>

	<insert id="insert" parameterType="com.csg.intshop.entity.DrtMallApplication" >
    	insert into drt_mall_application
    		(id, application_name, username, password, origina_token, token, expire, curr_time, invalid_time, create_time, creator_name, creator_id, last_modifier_id, last_modifier_name, last_modifier_time, is_delete) 
    	values
    		(#{id}, #{applicationName}, #{username}, #{password}, #{originaToken}, #{token}, #{expire}, #{currTime}, #{invalidTime}, #{createTime}, #{creatorName}, #{creatorId}, #{lastModifierId}, #{lastModifierName}, #{lastModifierTime}, #{isDelete})
  	</insert>

  	<insert id="insertList" parameterType="java.util.List" >
    	insert into drt_mall_application
    		(id, application_name, username, password, origina_token, token, expire, curr_time, invalid_time, create_time, creator_name, creator_id, last_modifier_id, last_modifier_name, last_modifier_time, is_delete) 
    	values
    	<foreach collection="list" index="index" item="item" separator=",">
    		(#{item.id}, #{item.applicationName}, #{item.username}, #{item.password}, #{item.originaToken}, #{item.token}, #{item.expire}, #{item.currTime}, #{item.invalidTime}, #{item.createTime}, #{item.creatorName}, #{item.creatorId}, #{item.lastModifierId}, #{item.lastModifierName}, #{item.lastModifierTime}, #{item.isDelete})
    	</foreach>
  	</insert>

  	<update id="delete" parameterType="java.lang.String">
		update drt_mall_application set is_delete=0 where id = #{id}
    </update>

  	<update id="update" parameterType="com.csg.intshop.entity.DrtMallApplication">
		update drt_mall_application set
		application_name=#{applicationName}, username=#{username}, password=#{password}, origina_token=#{originaToken}, token=#{token}, expire=#{expire}, curr_time=#{currTime}, invalid_time=#{invalidTime}, create_time=#{createTime}, creator_name=#{creatorName}, creator_id=#{creatorId}, last_modifier_id=#{lastModifierId}, last_modifier_name=#{lastModifierName}, last_modifier_time=#{lastModifierTime}, is_delete=#{isDelete}
		where id = #{id} and is_delete=1
	</update>
	
	<update id="updateIfNotNull" parameterType="com.csg.intshop.entity.DrtMallApplication">
		update drt_mall_application set
		<if test="applicationName != null">
			application_name=#{applicationName}, 
		</if>
		<if test="username != null">
			username=#{username}, 
		</if>
		<if test="password != null">
			password=#{password}, 
		</if>
		<if test="originaToken != null">
			origina_token=#{originaToken}, 
		</if>
		<if test="token != null">
			token=#{token}, 
		</if>
		<if test="expire != null">
			expire=#{expire}, 
		</if>
		<if test="currTime != null">
			curr_time=#{currTime}, 
		</if>
		<if test="invalidTime != null">
			invalid_time=#{invalidTime}, 
		</if>
		<if test="createTime != null">
			create_time=#{createTime}, 
		</if>
		<if test="creatorName != null">
			creator_name=#{creatorName}, 
		</if>
		<if test="creatorId != null">
			creator_id=#{creatorId}, 
		</if>
		<if test="lastModifierId != null">
			last_modifier_id=#{lastModifierId}, 
		</if>
		<if test="lastModifierName != null">
			last_modifier_name=#{lastModifierName}, 
		</if>
		<if test="lastModifierTime != null">
			last_modifier_time=#{lastModifierTime}, 
		</if>
		is_delete=1
		where id = #{id} and is_delete=1
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_mall_application
	    where 
			id = #{id}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.intshop.entity.DrtMallApplication">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_mall_application
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>
  	
  	<select id="selectListByinterface" resultMap="BaseResultMap" parameterType="java.util.Map">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_mall_application
	    where 1=1
	    <if test="token != null">
			and token=#{token}
		</if>
		<if test="invalidTime != null">
			and invalid_time>=#{invalidTime}
		</if>
  	</select>


	
</mapper>