<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtBankAccountMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtBankAccount">
		<id column="BANK_ACCOUNT_ID" property="bankAccountId"></id>
		<result column="CREATE_TIME" property="createTime" />
		<result column="ACCOUNT" property="account" />
		<result column="ACCOUNT_NAME" property="accountName" />
		<result column="ACCOUNT_PHONE" property="accountPhone" />
		<result column="ACCOUNT_TYPE" property="accountType" />
		<result column="ACCOUNT_STATUS" property="accountStatus" />
		<result column="ACCOUNT_ID" property="accountId" />
		<result column="ID_CARD" property="idCard" />
	</resultMap>
	
	<sql id="BaseColumnList">
		BANK_ACCOUNT_ID as bankAccountId,
		CREATE_TIME as createTime,
		ACCOUNT as account,
		ACCOUNT_NAME as accountName,
		ACCOUNT_PHONE as accountPhone,
		ACCOUNT_TYPE as accountType,
		ACCOUNT_STATUS as accountStatus,
		ACCOUNT_ID as accountId,
		ID_CARD as idCard
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="bankAccountId != null">
			and BANK_ACCOUNT_ID=#{bankAccountId}
		</if>
		<if test="createTime != null">
			and CREATE_TIME=#{createTime}
		</if>
		<if test="account != null">
			and ACCOUNT=#{account}
		</if>
		<if test="accountName != null">
			and ACCOUNT_NAME=#{accountName}
		</if>
		<if test="accountPhone != null">
			and ACCOUNT_PHONE=#{accountPhone}
		</if>
		<if test="accountType != null">
			and ACCOUNT_TYPE=#{accountType}
		</if>
		<if test="accountStatus != null">
			and ACCOUNT_STATUS=#{accountStatus}
		</if>
		<if test="accountId != null">
			and ACCOUNT_ID=#{accountId}
		</if>
		<if test="idCard != null">
			and ID_CARD=#{idCard}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtBankAccount" >
    	insert into drt_bank_account
    		(BANK_ACCOUNT_ID, CREATE_TIME, ACCOUNT, ACCOUNT_NAME, ACCOUNT_PHONE, ACCOUNT_TYPE, ACCOUNT_STATUS, ACCOUNT_ID, ID_CARD) 
    	values
    		(#{bankAccountId}, #{createTime}, #{account}, #{accountName}, #{accountPhone}, #{accountType}, #{accountStatus}, #{accountId}, #{idCard})
  	</insert>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtBankAccount">
		update drt_bank_account set
		CREATE_TIME=#{createTime}, ACCOUNT=#{account}, ACCOUNT_NAME=#{accountName}, ACCOUNT_PHONE=#{accountPhone}, ACCOUNT_TYPE=#{accountType}, ACCOUNT_STATUS=#{accountStatus}, ACCOUNT_ID=#{accountId}, ID_CARD=#{idCard}
		where BANK_ACCOUNT_ID = #{bankAccountId}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_bank_account
	    where 
			BANK_ACCOUNT_ID = #{bankAccountId}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtBankAccount">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_bank_account
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>
  	
  	<!-- 昨天用户ID分组的数据 -->
  	<select id="queryDrtBankAccount" resultMap="BaseResultMap" >
	SELECT <include refid="BaseColumnList" />
	FROM drt_bank_account 
	WHERE  create_time >= DATE_SUB(DATE(CURRENT_TIMESTAMP()), INTERVAL 1 DAY) AND  DATE(CURRENT_TIMESTAMP()) > create_time GROUP BY account_id
  	</select>


	
</mapper>