<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtMonitorBehaviorRecordMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtMonitorBehaviorRecord">
		<id column="id" property="id"></id>
		<result column="account_id" property="accountId" />
		<result column="behavior_type" property="behaviorType" />
		<result column="behavior_time" property="behaviorTime" />
		<result column="creator_id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="create_time" property="createTime" />
		<result column="last_modifier_id" property="lastModifierId" />
		<result column="last_modifier_name" property="lastModifierName" />
		<result column="last_modify_time" property="lastModifyTime" />
		<result column="is_delete" property="isDelete" />
	</resultMap>
	
	<sql id="BaseColumnList">
		id as id,
		account_id as accountId,
		behavior_type as behaviorType,
		behavior_time as behaviorTime,
		creator_id as creatorId,
		creator_name as creatorName,
		create_time as createTime,
		last_modifier_id as lastModifierId,
		last_modifier_name as lastModifierName,
		last_modify_time as lastModifyTime,
		is_delete as isDelete
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="accountId != null">
			and account_id=#{accountId}
		</if>
		<if test="behaviorType != null">
			and behavior_type=#{behaviorType}
		</if>
		<if test="behaviorTime != null">
			and behavior_time=#{behaviorTime}
		</if>
		<if test="creatorId != null">
			and creator_id=#{creatorId}
		</if>
		<if test="creatorName != null">
			and creator_name=#{creatorName}
		</if>
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>
		<if test="lastModifierId != null">
			and last_modifier_id=#{lastModifierId}
		</if>
		<if test="lastModifierName != null">
			and last_modifier_name=#{lastModifierName}
		</if>
		<if test="lastModifyTime != null">
			and last_modify_time=#{lastModifyTime}
		</if>
		<if test="isDelete != null">
			and is_delete=#{isDelete}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtMonitorBehaviorRecord" >
    	insert into drt_monitor_behavior_record
    		(id, account_id, behavior_type, behavior_time, creator_id, creator_name, create_time, last_modifier_id, last_modifier_name, last_modify_time, is_delete) 
    	values
    		(#{id}, #{accountId}, #{behaviorType}, #{behaviorTime}, #{creatorId}, #{creatorName}, #{createTime}, #{lastModifierId}, #{lastModifierName}, #{lastModifyTime}, #{isDelete})
  	</insert>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtMonitorBehaviorRecord">
		update drt_monitor_behavior_record set
		account_id=#{accountId}, behavior_type=#{behaviorType}, behavior_time=#{behaviorTime}, creator_id=#{creatorId}, creator_name=#{creatorName}, create_time=#{createTime}, last_modifier_id=#{lastModifierId}, last_modifier_name=#{lastModifierName}, last_modify_time=#{lastModifyTime}, is_delete=#{isDelete}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_behavior_record
	    where 
			id = #{id}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtMonitorBehaviorRecord">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_behavior_record
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>
  	
  	<select id="selectListByDrtMonitorBehaviorRecordBean" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtMonitorBehaviorRecordBean">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_behavior_record
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
	    <if test="behaviorTimeStart != null">
			<![CDATA[
			and behavior_time>=#{behaviorTimeStart}
			]]>
		</if>
		<if test="behaviorTimeEnd != null">
			<![CDATA[
			and behavior_time<=#{behaviorTimeEnd}
			]]>
		</if>
  	</select>

</mapper>