<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtElecUserMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtElecUser">
		<id column="ELEC_USER_ID" property="elecUserId"></id>
		<result column="ACCOUNT_ID" property="accountId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="YDHH" property="ydhh" />
		<result column="YDMC" property="ydmc" />
		<result column="JSHH" property="jshh" />
		<result column="YDDZ" property="yddz" />
		<result column="YHZT" property="yhzt" />
		<result column="ELEC_USER_STATUS" property="elecUserStatus" />
		<result column="BIND_TIME" property="bindTime" />
		<result column="UNBIND_TIME" property="unbindTime" />
		<result column="AREA_ID" property="areaId" />
		<result column="MOBILE" property="mobile" />
		<result column="GDDWBM" property="gddwbm" />
		<result column="YX_BIND_STATUS" property="yxBindStatus" />
		<result column="YX_CHANGE_TIME" property="yxChangeTime" />
		<result column="YX_RESULT" property="yxResult" />
	</resultMap>
	
	<sql id="BaseColumnList">
		ELEC_USER_ID as elecUserId,
		ACCOUNT_ID as accountId,
		CREATE_TIME as createTime,
		YDHH as ydhh,
		YDMC as ydmc,
		JSHH as jshh,
		YDDZ as yddz,
		YHZT as yhzt,
		ELEC_USER_STATUS as elecUserStatus,
		BIND_TIME as bindTime,
		UNBIND_TIME as unbindTime,
		AREA_ID as areaId,
		MOBILE as mobile,
		GDDWBM as gddwbm,
		YX_BIND_STATUS as yxBindStatus,
		YX_CHANGE_TIME as yxChangeTime,
		YX_RESULT as yxResult
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="elecUserId != null">
			and ELEC_USER_ID=#{elecUserId}
		</if>
		<if test="accountId != null">
			and ACCOUNT_ID=#{accountId}
		</if>
		<if test="createTime != null">
			and CREATE_TIME=#{createTime}
		</if>
		<if test="ydhh != null">
			and YDHH=#{ydhh}
		</if>
		<if test="ydmc != null">
			and YDMC=#{ydmc}
		</if>
		<if test="jshh != null">
			and JSHH=#{jshh}
		</if>
		<if test="yddz != null">
			and YDDZ=#{yddz}
		</if>
		<if test="yhzt != null">
			and YHZT=#{yhzt}
		</if>
		<if test="elecUserStatus != null">
			and ELEC_USER_STATUS=#{elecUserStatus}
		</if>
		<if test="bindTime != null">
			and BIND_TIME=#{bindTime}
		</if>
		<if test="unbindTime != null">
			and UNBIND_TIME=#{unbindTime}
		</if>
		<if test="areaId != null">
			and AREA_ID=#{areaId}
		</if>
		<if test="mobile != null">
			and MOBILE=#{mobile}
		</if>
		<if test="gddwbm != null">
			and GDDWBM=#{gddwbm}
		</if>
		<if test="yxBindStatus != null">
			and YX_BIND_STATUS=#{yxBindStatus}
		</if>
		<if test="yxChangeTime != null">
			and YX_CHANGE_TIME=#{yxChangeTime}
		</if>
		<if test="yxResult != null">
			and YX_RESULT=#{yxResult}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtElecUser" >
    	insert into drt_elec_user
    		(ELEC_USER_ID, ACCOUNT_ID, CREATE_TIME, YDHH, YDMC, JSHH, YDDZ, YHZT, ELEC_USER_STATUS, BIND_TIME, UNBIND_TIME, AREA_ID, MOBILE, GDDWBM, YX_BIND_STATUS, YX_CHANGE_TIME, YX_RESULT) 
    	values
    		(#{elecUserId}, #{accountId}, #{createTime}, #{ydhh}, #{ydmc}, #{jshh}, #{yddz}, #{yhzt}, #{elecUserStatus}, #{bindTime}, #{unbindTime}, #{areaId}, #{mobile}, #{gddwbm}, #{yxBindStatus}, #{yxChangeTime}, #{yxResult})
  	</insert>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtElecUser">
		update drt_elec_user set
		ACCOUNT_ID=#{accountId}, CREATE_TIME=#{createTime}, YDHH=#{ydhh}, YDMC=#{ydmc}, JSHH=#{jshh}, YDDZ=#{yddz}, YHZT=#{yhzt}, ELEC_USER_STATUS=#{elecUserStatus}, BIND_TIME=#{bindTime}, UNBIND_TIME=#{unbindTime}, AREA_ID=#{areaId}, MOBILE=#{mobile}, GDDWBM=#{gddwbm}, YX_BIND_STATUS=#{yxBindStatus}, YX_CHANGE_TIME=#{yxChangeTime}, YX_RESULT=#{yxResult}
		where ELEC_USER_ID = #{elecUserId}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_elec_user
	    where 
			ELEC_USER_ID = #{elecUserId}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtElecUser">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_elec_user
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>
	
	<!-- 昨天用户ID分组的数据 -->
  	<select id="queryDrtElecUser" resultMap="BaseResultMap" >
	SELECT <include refid="BaseColumnList" />
	FROM drt_elec_user 
	WHERE  create_time >= DATE_SUB(DATE(CURRENT_TIMESTAMP()), INTERVAL 1 DAY) AND  DATE(CURRENT_TIMESTAMP()) > create_time GROUP BY account_id
  	</select>

	
</mapper>