<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csg.statistics.mapper.DrtMonitorVisitDurationMapper">
	<resultMap id="BaseResultMap" type="com.csg.statistics.entity.DrtMonitorVisitDuration">
		<id column="id" property="id"></id>
		<result column="account_id" property="accountId" />
		<result column="present_date" property="presentDate" />
		<result column="h0" property="h0" />
		<result column="h1" property="h1" />
		<result column="h2" property="h2" />
		<result column="h3" property="h3" />
		<result column="h4" property="h4" />
		<result column="h5" property="h5" />
		<result column="h6" property="h6" />
		<result column="h7" property="h7" />
		<result column="h8" property="h8" />
		<result column="h9" property="h9" />
		<result column="h10" property="h10" />
		<result column="h11" property="h11" />
		<result column="h12" property="h12" />
		<result column="h13" property="h13" />
		<result column="h14" property="h14" />
		<result column="h15" property="h15" />
		<result column="h16" property="h16" />
		<result column="h17" property="h17" />
		<result column="h18" property="h18" />
		<result column="h19" property="h19" />
		<result column="h20" property="h20" />
		<result column="h21" property="h21" />
		<result column="h22" property="h22" />
		<result column="h23" property="h23" />
	</resultMap>
	
	<sql id="BaseColumnList">
		id as id,
		account_id as accountId,
		present_date as presentDate,
		h0 as h0,
		h1 as h1,
		h2 as h2,
		h3 as h3,
		h4 as h4,
		h5 as h5,
		h6 as h6,
		h7 as h7,
		h8 as h8,
		h9 as h9,
		h10 as h10,
		h11 as h11,
		h12 as h12,
		h13 as h13,
		h14 as h14,
		h15 as h15,
		h16 as h16,
		h17 as h17,
		h18 as h18,
		h19 as h19,
		h20 as h20,
		h21 as h21,
		h22 as h22,
		h23 as h23
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="accountId != null">
			and account_id=#{accountId}
		</if>
		<if test="presentDate != null">
			and present_date=#{presentDate}
		</if>
		<if test="h0 != null">
			and h0=#{h0}
		</if>
		<if test="h1 != null">
			and h1=#{h1}
		</if>
		<if test="h2 != null">
			and h2=#{h2}
		</if>
		<if test="h3 != null">
			and h3=#{h3}
		</if>
		<if test="h4 != null">
			and h4=#{h4}
		</if>
		<if test="h5 != null">
			and h5=#{h5}
		</if>
		<if test="h6 != null">
			and h6=#{h6}
		</if>
		<if test="h7 != null">
			and h7=#{h7}
		</if>
		<if test="h8 != null">
			and h8=#{h8}
		</if>
		<if test="h9 != null">
			and h9=#{h9}
		</if>
		<if test="h10 != null">
			and h10=#{h10}
		</if>
		<if test="h11 != null">
			and h11=#{h11}
		</if>
		<if test="h12 != null">
			and h12=#{h12}
		</if>
		<if test="h13 != null">
			and h13=#{h13}
		</if>
		<if test="h14 != null">
			and h14=#{h14}
		</if>
		<if test="h15 != null">
			and h15=#{h15}
		</if>
		<if test="h16 != null">
			and h16=#{h16}
		</if>
		<if test="h17 != null">
			and h17=#{h17}
		</if>
		<if test="h18 != null">
			and h18=#{h18}
		</if>
		<if test="h19 != null">
			and h19=#{h19}
		</if>
		<if test="h20 != null">
			and h20=#{h20}
		</if>
		<if test="h21 != null">
			and h21=#{h21}
		</if>
		<if test="h22 != null">
			and h22=#{h22}
		</if>
		<if test="h23 != null">
			and h23=#{h23}
		</if>
	</sql>

	<insert id="insert" parameterType="com.csg.statistics.entity.DrtMonitorVisitDuration" >
    	insert into drt_monitor_visit_duration
    		(id, account_id, present_date, h0, h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12, h13, h14, h15, h16, h17, h18, h19, h20, h21, h22, h23) 
    	values
    		(#{id}, #{accountId}, #{presentDate}, #{h0}, #{h1}, #{h2}, #{h3}, #{h4}, #{h5}, #{h6}, #{h7}, #{h8}, #{h9}, #{h10}, #{h11}, #{h12}, #{h13}, #{h14}, #{h15}, #{h16}, #{h17}, #{h18}, #{h19}, #{h20}, #{h21}, #{h22}, #{h23})
  	</insert>

  	<update id="update" parameterType="com.csg.statistics.entity.DrtMonitorVisitDuration">
		update drt_monitor_visit_duration set
		account_id=#{accountId}, present_date=#{presentDate}, h0=#{h0}, h1=#{h1}, h2=#{h2}, h3=#{h3}, h4=#{h4}, h5=#{h5}, h6=#{h6}, h7=#{h7}, h8=#{h8}, h9=#{h9}, h10=#{h10}, h11=#{h11}, h12=#{h12}, h13=#{h13}, h14=#{h14}, h15=#{h15}, h16=#{h16}, h17=#{h17}, h18=#{h18}, h19=#{h19}, h20=#{h20}, h21=#{h21}, h22=#{h22}, h23=#{h23}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_visit_duration
	    where 
			id = #{id}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.csg.statistics.entity.DrtMonitorVisitDuration">
	    select 
	    <include refid="BaseColumnList" />
	    from drt_monitor_visit_duration
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>

  	<insert id="insertDrtMonitorVisitDurations" parameterType="java.util.List">    
    	insert into drt_monitor_visit_duration
    		(id, account_id, present_date, h0, h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12, h13, h14, h15, h16, h17, h18, h19, h20, h21, h22, h23) 
    	values 
	    <foreach collection="list" item="item" index="index" separator="," >  
    		(#{item.id}, #{item.accountId}, #{item.presentDate}, #{item.h0}, #{item.h1}, #{item.h2}, #{item.h3}, #{item.h4}, #{item.h5}, #{item.h6}, #{item.h7}, #{item.h8}, #{item.h9}, #{item.h10}, #{item.h11}, #{item.h12}, #{item.h13}, #{item.h14}, #{item.h15}, #{item.h16}, #{item.h17}, #{item.h18}, #{item.h19}, #{item.h20}, #{item.h21}, #{item.h22}, #{item.h23})
    	</foreach>
	</insert>
	
</mapper>